.accordion {
	position: relative;
	/* overflow: hidden; */
	margin-bottom: 3px;

	&.is-open {
		.accordion-header {
			border-bottom: 1px solid rgb(85, 26, 80);
		}

		.accordion-icon::before {
			content: '-';
			font-size: 22px;
		}

		.accordion-body {
			visibility: visible;
			padding: .5em;
			max-height: 400vh;
			transition: all .25s;
		}
	}

	&.is-closed {
		.accordion-icon::before {
			content: '+';
			font-size: 22px;
		}

		.accordion-body {
			visibility: hidden;
			padding: 0 .5em;
			max-height: 0px;
			transition: all .25s;
		}

		.accordion-header {
			border-radius: 5px;
		}
	}
}

.accordion-header {}


.accordion-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: whitesmoke;
	border-radius: 100%;
	background-color: rgb(68, 54, 68);
	height: 25px;
	width: 25px;
	margin-right: 5px;
	border: 0;
}

.accordion-tray {
	z-index: 40;
	top: 36px;
	right: 0;
	margin: 0;
	position: absolute;
	display: inline-flex;
	flex-direction: column;
	row-gap: 2px;
	background-color: rgb(15, 14, 15);
	padding: 3px 5px 5px 5px;
	border-radius: 0 0 5px 5px;

	li {
		text-align: left;
		padding-right: 10px;
		list-style: none;
		margin: 0;
		padding: 5px;
		cursor: pointer;
		border-radius: 5px;
		background-color: rgb(68, 54, 68);

		&:hover {
			background-color: rgb(112, 89, 112);
		}
	}

	&.is-open {
		visibility: visible;
		padding: .5em;
		max-height: 400vh;
		transition: all .25s;
	}

	&.is-closed {
		visibility: hidden;
		padding: 0 .5em;
		max-height: 0px;
		transition: all .25s;
	}
}