dialog {
	top: 100px;
	margin: 0 auto;
	position: fixed;
	background-color: rgb(32, 28, 32);
	color: whitesmoke;
	border: 1px solid rgb(68, 54, 68);
	border-radius: 5px;
	min-width: 200px;
	user-select: none;
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.7) !important;
	opacity: 1 !important;
}

.dialog-actions {
	display: flex;
	justify-content: space-between;
}

.dialog-text {
	font-size: 11pt;
	margin: 0 0 15px 0;
}

label {
	font-size: 9pt;
}

.field {
	display: flex;
	column-gap: 7px;
	align-items: center;
}

input[type=text] {
	flex-grow: 1;
	color: whitesmoke;
	background-color: rgb(15, 14, 15);
	border: 0;
	padding: 3px;
	font-size: 9pt;
	border-radius: 5px;
}

.checkbox-field {
	margin-top: 5px;
	display: flex;
	align-items: center;
}

input[type=checkbox] {
	appearance: none;
	height: 18px;
	width: 18px;
	margin-left: 5px;
	accent-color: rgb(68, 54, 68);
	background-color: black;
	position: relative;
	border-radius: 3px;

	&:checked {
		background-color: rgb(68, 54, 68);
		border-color: rgb(68, 54, 68);
	}

	&:checked::after {
		content: "";
		position: absolute;
		left: 6px;
		top: 2px;
		width: 4px;
		height: 9px;
		border: solid whitesmoke;
		border-width: 0 2px 2px 0;
		transform: rotate(45deg);
	}
}


.image-preview-container {
	display: flex;

	.field {
		flex-grow: 1;
	}
}

#icon-prompt-custom-input {
	margin-top: 5px;
	display: none;
}

input[type=file] {
	flex-grow: 1;
	color: whitesmoke;
	background-color: rgb(15, 14, 15);
	border: 0;
	padding: 3px;
	font-size: 9pt;
	border-radius: 5px;
}

.show-custom {
	display: flex !important;
	/* Genuinely needs important to override id level styling */
}

input[type=number] {
	color: whitesmoke;
	background-color: rgb(15, 14, 15);
	border: 0;
	padding: 3px;
	font-size: 9pt;
	border-radius: 5px;
	appearance: textfield;
	margin-bottom: 5px;
	width: 50px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.hide-position {
	display: none;
}

#rename-original {
	font-size: 9pt;
}

input[type="file"]::file-selector-button {
	background-color: rgb(68, 54, 68);
	color: whitesmoke;
	border: 0;
	padding: 5px;
	border-radius: 5px;
}

#shortcut-rename-extension {
	font-size: 9pt;
}

#app-info-dialog-button-box {
	display: flex;
	flex-direction: column;
	row-gap: 3px;
	align-items: flex-start;
}